In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import MinMaxScaler

import torch
from torch import nn
import torch.nn.functional as F
from torch.optim import Adam

%matplotlib inline

Let's check if PyTorch is using GPU

In [32]:
device = torch.device('cuda:0') if torch.cuda.is_available() else torch.device('cpu')
print(f'device: {device}')
print(torch.cuda.get_device_name(0))

device: cuda:0
NVIDIA GeForce RTX 3060

## Data Exploration

The CSV file contained the house prices, the type of house asset (such as Condominium, Bungalow, etc.)

In [33]:
df = pd.read_csv("data_kaggle.csv")
print(len(df))

53883

In [34]:
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished

## Data Cleaning (a.k.a Pre-processing)
We noticed that there are some rows are "NaN", which containing meaningless values.
Before make our hands wet, these values must be replace by mean either its mode or mean
corresponding to its location.

In [35]:
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.utf8')

non_decimal = re.compile(r'[^\dx]+')

df['Price'] = df['Price'].apply(lambda x: non_decimal.sub('', str(x)))
df['Price'] = df['Price'].apply(lambda x: int(x) / 1000000 if x != '' else np.nan)

In [36]:
pattern = re.compile(r"[A-Za-z] : (.,?[\d.]+)[xX~]?(\d+)? sq. ft.")

def check_none(val):
    if not (val is None):
        return locale.atof(str(val))
    else:
        return 1

def format_size_col(x: str):
    m = re.search(pattern, str(x))
    if m:
        result = locale.atof(m.groups()[0]) * check_none(m.groups()[1])
        return result / 1000
    else:
        return float('nan')

df['Size'] = df['Size'].apply(lambda x: format_size_col(x))
# df['Size'] = df['Size'].apply(lambda x: np.sqrt(int(x)) if type(x) != str else float('nan'))

In [37]:
def format_room_col(x):
    return eval(str(x) if type(x) == str and x != 'Studio' else 'float("nan")')

df['Rooms'] = df['Rooms'].apply(lambda x: format_room_col(x))

In [38]:
furnishing_dict = {
    'Unfurnished': 0,
    'Partly Furnished': 1,
    'Fully Furnished': 2,
}

df['Furnishing'] = df['Furnishing'].apply(lambda x: int(furnishing_dict[x] if str(x) in furnishing_dict.keys() else 0))

In [39]:
df['Location'] = df['Location'].apply(lambda x: x.removesuffix(', Kuala Lumpur'))

In [40]:
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,KLCC,1.25,3.0,3.0,2.0,Serviced Residence,1.335,2
1,Damansara Heights,6.80,6.0,7.0,NaN,Bungalow,6.900,1
2,Dutamas,1.03,3.0,4.0,2.0,Condominium (Corner),1.875,1
3,Cheras,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Bukit Jalil,0.90,5.0,3.0,2.0,Condominium (Corner),1.513,1

### Handling missing values

When dealing with missing data, data scientists use two common methods to solve this 
problem: imputations, or just removing the row that contains missing value.

In this project, we will just drop the missing rows.

In [41]:
df = df.dropna().reset_index(drop=True)

In [42]:
df

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,KLCC,1.250,3.0,3.0,2.0,Serviced Residence,1.335,2
1,Dutamas,1.030,3.0,4.0,2.0,Condominium (Corner),1.875,1
2,Bukit Jalil,0.900,5.0,3.0,2.0,Condominium (Corner),1.513,1
3,Taman Tun Dr Ismail,5.350,6.0,5.0,4.0,Bungalow,7.200,1
4,Taman Tun Dr Ismail,2.600,5.0,4.0,4.0,Semi-detached House,3.600,1
...,...,...,...,...,...,...,...,...
34424,Kuchai Lama,0.585,4.0,3.0,2.0,Condominium,1.313,0
34425,KL Sentral,1.400,4.0,3.0,2.0,Condominium (Corner),1.544,2
34426,KL Eco City,0.880,1.0,1.0,1.0,Condominium (Corner),0.650,1
34427,Sri Hartamas,2.700,6.0,6.0,3.0,Condominium (Corner),3.973,1
34428,Setapak,0.540,4.0,2.0,3.0,Condominium (Intermediate),1.313,1

In [43]:
df[['Rooms', 'Bathrooms', 'Car Parks']] = df[['Rooms', 'Bathrooms', 'Car Parks']].astype('float').astype('int')
#df['Location'] = df['Location'].astype('category')

In [44]:
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,KLCC,1.25,3,3,2,Serviced Residence,1.335,2
1,Dutamas,1.03,3,4,2,Condominium (Corner),1.875,1
2,Bukit Jalil,0.90,5,3,2,Condominium (Corner),1.513,1
3,Taman Tun Dr Ismail,5.35,6,5,4,Bungalow,7.200,1
4,Taman Tun Dr Ismail,2.60,5,4,4,Semi-detached House,3.600,1

In [45]:
from sklearn.preprocessing import LabelEncoder

df['Location'] = LabelEncoder().fit_transform(df['Location'])
df

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,40,1.250,3,3,2,Serviced Residence,1.335,2
1,26,1.030,3,4,2,Condominium (Corner),1.875,1
2,11,0.900,5,3,2,Condominium (Corner),1.513,1
3,76,5.350,6,5,4,Bungalow,7.200,1
4,76,2.600,5,4,4,Semi-detached House,3.600,1
...,...,...,...,...,...,...,...,...
34424,46,0.585,4,3,2,Condominium,1.313,0
34425,39,1.400,4,3,2,Condominium (Corner),1.544,2
34426,38,0.880,1,1,1,Condominium (Corner),0.650,1
34427,66,2.700,6,6,3,Condominium (Corner),3.973,1
34428,63,0.540,4,2,3,Condominium (Intermediate),1.313,1

## Building Machine Learning Model

In [46]:
cat_feat = ["Location", "Rooms", "Bathrooms", "Car Parks", "Furnishing"]
out_feat = "Price"

In [47]:
cat = torch.tensor(df[cat_feat].to_numpy(), dtype=torch.int64)
cat

tensor([[40,  3,  3,  2,  2],
        [26,  3,  4,  2,  1],
        [11,  5,  3,  2,  1],
        ...,
        [38,  1,  1,  1,  1],
        [66,  6,  6,  3,  1],
        [63,  4,  2,  3,  1]])

In [48]:
df[cat_feat].to_numpy()

array([[40,  3,  3,  2,  2],
       [26,  3,  4,  2,  1],
       [11,  5,  3,  2,  1],
       ...,
       [38,  1,  1,  1,  1],
       [66,  6,  6,  3,  1],
       [63,  4,  2,  3,  1]])

In [49]:
# continuous features
cont_feat = "Size"
cont = torch.tensor(df[cont_feat].to_numpy(), dtype=torch.float32).reshape(-1, 1)
cont

tensor([[1.3350],
        [1.8750],
        [1.5130],
        ...,
        [0.6500],
        [3.9730],
        [1.3130]])

In [50]:
y = torch.tensor(df["Price"].to_numpy(), dtype=torch.float32).reshape(-1, 1)
y

tensor([[1.2500],
        [1.0300],
        [0.9000],
        ...,
        [0.8800],
        [2.7000],
        [0.5400]])

In [51]:
cat_dims = [len(df[col].unique()) for col in cat_feat]
cat_dims

[82, 17, 17, 21, 3]

In [52]:
embedding_dims = [(x, min(50, (x + 1) // 2)) for x in cat_dims]
embedding_dims

[(82, 41), (17, 9), (17, 9), (21, 11), (3, 2)]

In [53]:
class SparseTabularNN(nn.Module):
    def __init__(self, embedding_dim, n_cont, out_sz, layers, dropout_rate=0.5) -> None:
        super().__init__()
        self.embeds = nn.ModuleList([
            nn.Embedding(inp, out) for inp, out in embedding_dim
        ])
        self.emb_drop = nn.Dropout(dropout_rate)
        self.bn_cont = nn.BatchNorm1d(n_cont)

        layer_list = []
        n_emb = sum((out for _, out in embedding_dim))
        n_in = n_emb + n_cont

        for i in layers:
            layer_list.append(nn.Linear(n_in, i))
            layer_list.append(nn.ReLU(inplace=True))
            layer_list.append(nn.BatchNorm1d(i))
            layer_list.append(nn.Dropout(dropout_rate))
            n_in = i
        
        layer_list.append(nn.Linear(layers[-1], out_sz))
        
        self.layers = nn.Sequential(*layer_list)
        
    def forward(self, x_cat, x_cont):
        embeddings = [e(x_cat[:,i]) for i, e in enumerate(self.embeds)]
        x = torch.cat(embeddings, 1)
        x = self.emb_drop(x)

        x2 = self.bn_cont(x_cont)
        x = torch.cat([x, x2], 1)
        x = self.layers(x)

        return x

In [54]:
model = SparseTabularNN(embedding_dims, 1, 1, [100, 50], dropout_rate=0.40)

In [55]:
model.eval()

SparseTabularNN(
  (embeds): ModuleList(
    (0): Embedding(82, 41)
    (1-2): 2 x Embedding(17, 9)
    (3): Embedding(21, 11)
    (4): Embedding(3, 2)
  )
  (emb_drop): Dropout(p=0.4, inplace=False)
  (bn_cont): BatchNorm1d(1, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=73, out_features=100, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.4, inplace=False)
    (4): Linear(in_features=100, out_features=50, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.4, inplace=False)
    (8): Linear(in_features=50, out_features=1, bias=True)
  )
)

In [56]:
loss_fn = nn.MSELoss()
optimizer = Adam(model.parameters(), lr=0.01)

In [57]:
batch_size=1200
test_size=int(batch_size*0.15)
train_categorical=cat[:batch_size-test_size]
test_categorical=cat[batch_size-test_size:batch_size]
train_cont=cont[:batch_size-test_size]
test_cont=cont[batch_size-test_size:batch_size]
y_train=y[:batch_size-test_size]
y_test=y[batch_size-test_size:batch_size]

In [58]:
len(train_categorical),len(test_categorical),len(train_cont),len(test_cont),len(y_train),len(y_test)

(1020, 180, 1020, 180, 1020, 180)

In [59]:
sum((out for _, out in embedding_dims)) + train_cont

tensor([[73.3350],
        [73.8750],
        [73.5130],
        ...,
        [73.1310],
        [72.6100],
        [73.3130]])

In [60]:
epochs=5000
final_losses=[]
for i in range(epochs):
    i=i+1
    y_pred=model(train_categorical,train_cont)
    loss=torch.sqrt(loss_fn(y_pred,y_train)) ### RMSE
    final_losses.append(loss)
    if i%10==1:
        print("Epoch number: {} and the loss : {}".format(i,loss.item()))
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

Epoch number: 1 and the loss : 3.2336528301239014
Epoch number: 11 and the loss : 1.1240968704223633
Epoch number: 21 and the loss : 0.8979969024658203
Epoch number: 31 and the loss : 0.802376389503479
Epoch number: 41 and the loss : 0.715266227722168
Epoch number: 51 and the loss : 0.6253294944763184
Epoch number: 61 and the loss : 0.5633143186569214
Epoch number: 71 and the loss : 0.5337095260620117
Epoch number: 81 and the loss : 0.4782934784889221
Epoch number: 91 and the loss : 0.44469568133354187
Epoch number: 101 and the loss : 0.4299977421760559
Epoch number: 111 and the loss : 0.4105254113674164
Epoch number: 121 and the loss : 0.42368102073669434

Epoch number: 131 and the loss : 0.37161555886268616
Epoch number: 141 and the loss : 0.3570900857448578
Epoch number: 151 and the loss : 0.3483647406101227
Epoch number: 161 and the loss : 0.37417981028556824
Epoch number: 171 and the loss : 0.33906158804893494
Epoch number: 181 and the loss : 0.3319062888622284
Epoch number: 191 and the loss : 0.34317922592163086
Epoch number: 201 and the loss : 0.35731634497642517
Epoch number: 211 and the loss : 0.34852805733680725
Epoch number: 221 and the loss : 0.34493327140808105
Epoch number: 231 and the loss : 0.34591561555862427
Epoch number: 241 and the loss : 0.35145124793052673
Epoch number: 251 and the loss : 0.34269195795059204
Epoch number: 261 and the loss : 0.3443027138710022
Epoch number: 271 and the loss : 0.3368266820907593
Epoch number: 281 and the loss : 0.3120606243610382
Epoch number: 291 and the loss : 0.305613249540329
Epoch number: 301 and the loss : 0.30602335929870605
Epoch number: 311 and the loss : 0.31060031056404114
Epoch number: 321 and the loss : 0.30177041888237
Epoch number: 331 and the loss : 0.3008545935153961
Epoch number: 341 and the loss : 0.3187393546104431
Epoch number: 351 and the loss : 0.31907445192337036
Epoch number: 361 and the loss : 0.3126422166824341
Epoch number: 371 and the loss : 0.3124788701534271
Epoch number: 381 and the loss : 0.307222455739975
Epoch number: 391 and the loss : 0.3172621726989746
Epoch number: 401 and the loss : 0.318625271320343
Epoch number: 411 and the loss : 0.3103086054325104
Epoch number: 421 and the loss : 0.2905455529689789
Epoch number: 431 and the loss : 0.28769779205322266
Epoch number: 441 and the loss : 0.29142069816589355
Epoch number: 451 and the loss : 0.3002990186214447
Epoch number: 461 and the loss : 0.31844621896743774
Epoch number: 471 and the loss : 0.30148741602897644
Epoch number: 481 and the loss : 0.30429819226264954
Epoch number: 491 and the loss : 0.30137157440185547
Epoch number: 501 and the loss : 0.29859891533851624
Epoch number: 511 and the loss : 0.28268930315971375
Epoch number: 521 and the loss : 0.2749035954475403
Epoch number: 531 and the loss : 0.2911444902420044
Epoch number: 541 and the loss : 0.30458372831344604
Epoch number: 551 and the loss : 0.3019387722015381
Epoch number: 561 and the loss : 0.34844380617141724
Epoch number: 571 and the loss : 0.2898658215999603
Epoch number: 581 and the loss : 0.26371505856513977
Epoch number: 591 and the loss : 0.25567182898521423
Epoch number: 601 and the loss : 0.2724992036819458
Epoch number: 611 and the loss : 0.28616249561309814
Epoch number: 621 and the loss : 0.26791876554489136
Epoch number: 631 and the loss : 0.2605248987674713
Epoch number: 641 and the loss : 0.28288859128952026
Epoch number: 651 and the loss : 0.26447397470474243
Epoch number: 661 and the loss : 0.25417453050613403
Epoch number: 671 and the loss : 0.2683030068874359
Epoch number: 681 and the loss : 0.2586475908756256
Epoch number: 691 and the loss : 0.2678617238998413
Epoch number: 701 and the loss : 0.25172263383865356
Epoch number: 711 and the loss : 0.2527063190937042
Epoch number: 721 and the loss : 0.24152234196662903
Epoch number: 731 and the loss : 0.2535172700881958
Epoch number: 741 and the loss : 0.25050702691078186
Epoch number: 751 and the loss : 0.24463391304016113
Epoch number: 761 and the loss : 0.24607892334461212
Epoch number: 771 and the loss : 0.24928045272827148
Epoch number: 781 and the loss : 0.24007396399974823
Epoch number: 791 and the loss : 0.24610494077205658
Epoch number: 801 and the loss : 0.2456335723400116
Epoch number: 811 and the loss : 0.25262320041656494
Epoch number: 821 and the loss : 0.2411864995956421
Epoch number: 831 and the loss : 0.2623797655105591
Epoch number: 841 and the loss : 0.23530282080173492
Epoch number: 851 and the loss : 0.2293238341808319
Epoch number: 861 and the loss : 0.2525399327278137
Epoch number: 871 and the loss : 0.2388286143541336
Epoch number: 881 and the loss : 0.24883925914764404
Epoch number: 891 and the loss : 0.25618046522140503
Epoch number: 901 and the loss : 0.2393549084663391
Epoch number: 911 and the loss : 0.23502472043037415
Epoch number: 921 and the loss : 0.2293900102376938
Epoch number: 931 and the loss : 0.22860382497310638
Epoch number: 941 and the loss : 0.22521895170211792
Epoch number: 951 and the loss : 0.2464815080165863
Epoch number: 961 and the loss : 0.22215166687965393
Epoch number: 971 and the loss : 0.2216009795665741
Epoch number: 981 and the loss : 0.23110009729862213
Epoch number: 991 and the loss : 0.23162280023097992
Epoch number: 1001 and the loss : 0.22479146718978882
Epoch number: 1011 and the loss : 0.24971871078014374
Epoch number: 1021 and the loss : 0.23229168355464935
Epoch number: 1031 and the loss : 0.2423882633447647
Epoch number: 1041 and the loss : 0.2493683397769928
Epoch number: 1051 and the loss : 0.2234380692243576
Epoch number: 1061 and the loss : 0.226730078458786
Epoch number: 1071 and the loss : 0.24360676109790802
Epoch number: 1081 and the loss : 0.22602765262126923
Epoch number: 1091 and the loss : 0.24702903628349304
Epoch number: 1101 and the loss : 0.2205069661140442
Epoch number: 1111 and the loss : 0.2247692346572876
Epoch number: 1121 and the loss : 0.22596627473831177
Epoch number: 1131 and the loss : 0.21826575696468353
Epoch number: 1141 and the loss : 0.2415836900472641
Epoch number: 1151 and the loss : 0.2364734560251236
Epoch number: 1161 and the loss : 0.22838766872882843
Epoch number: 1171 and the loss : 0.23824532330036163
Epoch number: 1181 and the loss : 0.24348992109298706
Epoch number: 1191 and the loss : 0.22958622872829437
Epoch number: 1201 and the loss : 0.21858076751232147
Epoch number: 1211 and the loss : 0.2473033219575882
Epoch number: 1221 and the loss : 0.22540722787380219
Epoch number: 1231 and the loss : 0.2175636887550354
Epoch number: 1241 and the loss : 0.22263206541538239
Epoch number: 1251 and the loss : 0.22246307134628296
Epoch number: 1261 and the loss : 0.23493130505084991
Epoch number: 1271 and the loss : 0.2291661500930786
Epoch number: 1281 and the loss : 0.22405345737934113
Epoch number: 1291 and the loss : 0.2323918342590332
Epoch number: 1301 and the loss : 0.2419768124818802
Epoch number: 1311 and the loss : 0.22755107283592224
Epoch number: 1321 and the loss : 0.2166396528482437
Epoch number: 1331 and the loss : 0.22106024622917175
Epoch number: 1341 and the loss : 0.21490085124969482
Epoch number: 1351 and the loss : 0.21046486496925354
Epoch number: 1361 and the loss : 0.2099757194519043
Epoch number: 1371 and the loss : 0.22120782732963562
Epoch number: 1381 and the loss : 0.22071054577827454
Epoch number: 1391 and the loss : 0.23521295189857483
Epoch number: 1401 and the loss : 0.255020409822464
Epoch number: 1411 and the loss : 0.23956473171710968
Epoch number: 1421 and the loss : 0.22997964918613434
Epoch number: 1431 and the loss : 0.21682821214199066
Epoch number: 1441 and the loss : 0.22119945287704468
Epoch number: 1451 and the loss : 0.22417551279067993
Epoch number: 1461 and the loss : 0.21188984811306
Epoch number: 1471 and the loss : 0.21710775792598724
Epoch number: 1481 and the loss : 0.21488933265209198
Epoch number: 1491 and the loss : 0.21986760199069977
Epoch number: 1501 and the loss : 0.2144557684659958
Epoch number: 1511 and the loss : 0.23777176439762115
Epoch number: 1521 and the loss : 0.2167760729789734
Epoch number: 1531 and the loss : 0.21963390707969666
Epoch number: 1541 and the loss : 0.22404734790325165
Epoch number: 1551 and the loss : 0.20695821940898895
Epoch number: 1561 and the loss : 0.20650377869606018
Epoch number: 1571 and the loss : 0.21600432693958282
Epoch number: 1581 and the loss : 0.22517888247966766
Epoch number: 1591 and the loss : 0.2277318686246872
Epoch number: 1601 and the loss : 0.21214589476585388
Epoch number: 1611 and the loss : 0.2148723006248474
Epoch number: 1621 and the loss : 0.21576382219791412
Epoch number: 1631 and the loss : 0.22298367321491241
Epoch number: 1641 and the loss : 0.23119056224822998
Epoch number: 1651 and the loss : 0.23215718567371368
Epoch number: 1661 and the loss : 0.21094834804534912
Epoch number: 1671 and the loss : 0.21436797082424164
Epoch number: 1681 and the loss : 0.21732139587402344
Epoch number: 1691 and the loss : 0.24328309297561646
Epoch number: 1701 and the loss : 0.21066659688949585
Epoch number: 1711 and the loss : 0.2248026430606842
Epoch number: 1721 and the loss : 0.20935648679733276
Epoch number: 1731 and the loss : 0.20499131083488464
Epoch number: 1741 and the loss : 0.20877204835414886
Epoch number: 1751 and the loss : 0.21513840556144714
Epoch number: 1761 and the loss : 0.20167575776576996
Epoch number: 1771 and the loss : 0.20852336287498474
Epoch number: 1781 and the loss : 0.22074437141418457
Epoch number: 1791 and the loss : 0.20970045030117035
Epoch number: 1801 and the loss : 0.22229042649269104
Epoch number: 1811 and the loss : 0.24649985134601593
Epoch number: 1821 and the loss : 0.2279944121837616
Epoch number: 1831 and the loss : 0.2175419181585312
Epoch number: 1841 and the loss : 0.21065226197242737
Epoch number: 1851 and the loss : 0.20458172261714935
Epoch number: 1861 and the loss : 0.20058858394622803
Epoch number: 1871 and the loss : 0.20840772986412048
Epoch number: 1881 and the loss : 0.22488227486610413
Epoch number: 1891 and the loss : 0.2140006422996521
Epoch number: 1901 and the loss : 0.23233994841575623
Epoch number: 1911 and the loss : 0.21330526471138
Epoch number: 1921 and the loss : 0.22321079671382904
Epoch number: 1931 and the loss : 0.229071244597435
Epoch number: 1941 and the loss : 0.22339144349098206
Epoch number: 1951 and the loss : 0.2201230674982071
Epoch number: 1961 and the loss : 0.22046613693237305
Epoch number: 1971 and the loss : 0.2195560485124588
Epoch number: 1981 and the loss : 0.22506840527057648
Epoch number: 1991 and the loss : 0.21925142407417297
Epoch number: 2001 and the loss : 0.22312243282794952
Epoch number: 2011 and the loss : 0.22567765414714813
Epoch number: 2021 and the loss : 0.21916434168815613
Epoch number: 2031 and the loss : 0.22131380438804626
Epoch number: 2041 and the loss : 0.2167447805404663
Epoch number: 2051 and the loss : 0.2306474894285202
Epoch number: 2061 and the loss : 0.21772192418575287
Epoch number: 2071 and the loss : 0.23144343495368958
Epoch number: 2081 and the loss : 0.21673516929149628
Epoch number: 2091 and the loss : 0.2211206704378128
Epoch number: 2101 and the loss : 0.21712011098861694
Epoch number: 2111 and the loss : 0.22543452680110931
Epoch number: 2121 and the loss : 0.21962851285934448
Epoch number: 2131 and the loss : 0.22331242263317108
Epoch number: 2141 and the loss : 0.2237756848335266
Epoch number: 2151 and the loss : 0.22210022807121277
Epoch number: 2161 and the loss : 0.2205764502286911
Epoch number: 2171 and the loss : 0.21635374426841736
Epoch number: 2181 and the loss : 0.22666792571544647
Epoch number: 2191 and the loss : 0.21506205201148987
Epoch number: 2201 and the loss : 0.21991229057312012
Epoch number: 2211 and the loss : 0.23234166204929352
Epoch number: 2221 and the loss : 0.21901987493038177
Epoch number: 2231 and the loss : 0.21632589399814606
Epoch number: 2241 and the loss : 0.21515971422195435
Epoch number: 2251 and the loss : 0.21543864905834198
Epoch number: 2261 and the loss : 0.22734510898590088
Epoch number: 2271 and the loss : 0.21725627779960632
Epoch number: 2281 and the loss : 0.21340379118919373
Epoch number: 2291 and the loss : 0.21903182566165924
Epoch number: 2301 and the loss : 0.22555860877037048
Epoch number: 2311 and the loss : 0.2149844914674759
Epoch number: 2321 and the loss : 0.2236793339252472
Epoch number: 2331 and the loss : 0.22774502635002136
Epoch number: 2341 and the loss : 0.22195878624916077
Epoch number: 2351 and the loss : 0.21655413508415222
Epoch number: 2361 and the loss : 0.22293946146965027
Epoch number: 2371 and the loss : 0.2201063483953476
Epoch number: 2381 and the loss : 0.23217135667800903
Epoch number: 2391 and the loss : 0.2160961627960205
Epoch number: 2401 and the loss : 0.2181815803050995
Epoch number: 2411 and the loss : 0.21309161186218262
Epoch number: 2421 and the loss : 0.21212096512317657
Epoch number: 2431 and the loss : 0.21853899955749512
Epoch number: 2441 and the loss : 0.22213214635849
Epoch number: 2451 and the loss : 0.2159421145915985
Epoch number: 2461 and the loss : 0.21360820531845093
Epoch number: 2471 and the loss : 0.21758431196212769
Epoch number: 2481 and the loss : 0.21999023854732513
Epoch number: 2491 and the loss : 0.20955592393875122
Epoch number: 2501 and the loss : 0.2149873673915863
Epoch number: 2511 and the loss : 0.2242794930934906
Epoch number: 2521 and the loss : 0.21568328142166138
Epoch number: 2531 and the loss : 0.22930291295051575
Epoch number: 2541 and the loss : 0.21886776387691498
Epoch number: 2551 and the loss : 0.21928775310516357
Epoch number: 2561 and the loss : 0.21133339405059814
Epoch number: 2571 and the loss : 0.2161692976951599
Epoch number: 2581 and the loss : 0.21125857532024384
Epoch number: 2591 and the loss : 0.21425774693489075
Epoch number: 2601 and the loss : 0.21940213441848755
Epoch number: 2611 and the loss : 0.2087506651878357
Epoch number: 2621 and the loss : 0.21135960519313812
Epoch number: 2631 and the loss : 0.22103190422058105
Epoch number: 2641 and the loss : 0.22605456411838531
Epoch number: 2651 and the loss : 0.2181188315153122
Epoch number: 2661 and the loss : 0.22018909454345703
Epoch number: 2671 and the loss : 0.21473583579063416
Epoch number: 2681 and the loss : 0.21814687550067902
Epoch number: 2691 and the loss : 0.21586662530899048
Epoch number: 2701 and the loss : 0.21380436420440674
Epoch number: 2711 and the loss : 0.2158387005329132
Epoch number: 2721 and the loss : 0.2165069282054901
Epoch number: 2731 and the loss : 0.21507994830608368
Epoch number: 2741 and the loss : 0.21859459578990936
Epoch number: 2751 and the loss : 0.2156735211610794
Epoch number: 2761 and the loss : 0.22227486968040466
Epoch number: 2771 and the loss : 0.2205820083618164
Epoch number: 2781 and the loss : 0.2168581783771515
Epoch number: 2791 and the loss : 0.2185192108154297
Epoch number: 2801 and the loss : 0.218428835272789
Epoch number: 2811 and the loss : 0.22051610052585602
Epoch number: 2821 and the loss : 0.21675628423690796
Epoch number: 2831 and the loss : 0.21592296659946442
Epoch number: 2841 and the loss : 0.22414663434028625
Epoch number: 2851 and the loss : 0.21372278034687042
Epoch number: 2861 and the loss : 0.2146015167236328
Epoch number: 2871 and the loss : 0.2223610281944275
Epoch number: 2881 and the loss : 0.21356645226478577
Epoch number: 2891 and the loss : 0.22534601390361786
Epoch number: 2901 and the loss : 0.2184896469116211
Epoch number: 2911 and the loss : 0.21412652730941772
Epoch number: 2921 and the loss : 0.21834641695022583
Epoch number: 2931 and the loss : 0.21526296436786652
Epoch number: 2941 and the loss : 0.21940992772579193
Epoch number: 2951 and the loss : 0.2121790051460266
Epoch number: 2961 and the loss : 0.224212646484375
Epoch number: 2971 and the loss : 0.21454353630542755
Epoch number: 2981 and the loss : 0.2213362157344818
Epoch number: 2991 and the loss : 0.21792399883270264
Epoch number: 3001 and the loss : 0.21477824449539185
Epoch number: 3011 and the loss : 0.21380683779716492
Epoch number: 3021 and the loss : 0.2217060774564743
Epoch number: 3031 and the loss : 0.2134380042552948
Epoch number: 3041 and the loss : 0.22341389954090118
Epoch number: 3051 and the loss : 0.2127726674079895
Epoch number: 3061 and the loss : 0.21326518058776855
Epoch number: 3071 and the loss : 0.21422088146209717
Epoch number: 3081 and the loss : 0.22405597567558289
Epoch number: 3091 and the loss : 0.21415169537067413
Epoch number: 3101 and the loss : 0.2159588485956192
Epoch number: 3111 and the loss : 0.21827290952205658
Epoch number: 3121 and the loss : 0.21602651476860046
Epoch number: 3131 and the loss : 0.21728263795375824
Epoch number: 3141 and the loss : 0.21550163626670837
Epoch number: 3151 and the loss : 0.21763351559638977
Epoch number: 3161 and the loss : 0.21476924419403076
Epoch number: 3171 and the loss : 0.21907024085521698
Epoch number: 3181 and the loss : 0.21536053717136383
Epoch number: 3191 and the loss : 0.21654148399829865
Epoch number: 3201 and the loss : 0.21749119460582733
Epoch number: 3211 and the loss : 0.2142297774553299
Epoch number: 3221 and the loss : 0.21317657828330994
Epoch number: 3231 and the loss : 0.21642333269119263
Epoch number: 3241 and the loss : 0.21466322243213654
Epoch number: 3251 and the loss : 0.2140210121870041
Epoch number: 3261 and the loss : 0.22116562724113464
Epoch number: 3271 and the loss : 0.2125624269247055
Epoch number: 3281 and the loss : 0.21779052913188934
Epoch number: 3291 and the loss : 0.2124801129102707
Epoch number: 3301 and the loss : 0.21651606261730194
Epoch number: 3311 and the loss : 0.2129063606262207
Epoch number: 3321 and the loss : 0.21864227950572968
Epoch number: 3331 and the loss : 0.21589668095111847
Epoch number: 3341 and the loss : 0.2144649624824524
Epoch number: 3351 and the loss : 0.21604299545288086
Epoch number: 3361 and the loss : 0.21445614099502563
Epoch number: 3371 and the loss : 0.2164321392774582
Epoch number: 3381 and the loss : 0.21511593461036682
Epoch number: 3391 and the loss : 0.2169092446565628
Epoch number: 3401 and the loss : 0.2148480862379074
Epoch number: 3411 and the loss : 0.2164459228515625
Epoch number: 3421 and the loss : 0.21494998037815094
Epoch number: 3431 and the loss : 0.21696197986602783
Epoch number: 3441 and the loss : 0.21669062972068787
Epoch number: 3451 and the loss : 0.21388442814350128
Epoch number: 3461 and the loss : 0.21677958965301514
Epoch number: 3471 and the loss : 0.21493442356586456
Epoch number: 3481 and the loss : 0.21559402346611023
Epoch number: 3491 and the loss : 0.21767699718475342
Epoch number: 3501 and the loss : 0.21634040772914886
Epoch number: 3511 and the loss : 0.21756620705127716
Epoch number: 3521 and the loss : 0.21602404117584229
Epoch number: 3531 and the loss : 0.2112876921892166
Epoch number: 3541 and the loss : 0.21648208796977997
Epoch number: 3551 and the loss : 0.22521093487739563
Epoch number: 3561 and the loss : 0.21661855280399323
Epoch number: 3571 and the loss : 0.2126992791891098
Epoch number: 3581 and the loss : 0.21468548476696014
Epoch number: 3591 and the loss : 0.21165628731250763
Epoch number: 3601 and the loss : 0.21211406588554382
Epoch number: 3611 and the loss : 0.21119430661201477
Epoch number: 3621 and the loss : 0.2119600772857666
Epoch number: 3631 and the loss : 0.21510666608810425
Epoch number: 3641 and the loss : 0.2142520546913147
Epoch number: 3651 and the loss : 0.21077802777290344
Epoch number: 3661 and the loss : 0.21201840043067932
Epoch number: 3671 and the loss : 0.2117442488670349
Epoch number: 3681 and the loss : 0.21420833468437195
Epoch number: 3691 and the loss : 0.21313829720020294
Epoch number: 3701 and the loss : 0.21190525591373444
Epoch number: 3711 and the loss : 0.2106732875108719
Epoch number: 3721 and the loss : 0.21345797181129456
Epoch number: 3731 and the loss : 0.21374675631523132
Epoch number: 3741 and the loss : 0.21228450536727905
Epoch number: 3751 and the loss : 0.21816924214363098
Epoch number: 3761 and the loss : 0.21462512016296387
Epoch number: 3771 and the loss : 0.21334074437618256
Epoch number: 3781 and the loss : 0.2228424996137619
Epoch number: 3791 and the loss : 0.21720841526985168
Epoch number: 3801 and the loss : 0.21351882815361023
Epoch number: 3811 and the loss : 0.21234430372714996
Epoch number: 3821 and the loss : 0.2118511199951172
Epoch number: 3831 and the loss : 0.21703699231147766
Epoch number: 3841 and the loss : 0.21143290400505066
Epoch number: 3851 and the loss : 0.21475902199745178
Epoch number: 3861 and the loss : 0.21371757984161377