In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import MinMaxScaler

import torch
from torch import nn
import torch.nn.functional as F
from torch.optim import Adam

%matplotlib inline

Let's check if PyTorch is using GPU

In [2]:
device = torch.device('cuda:0') if torch.cuda.is_available() else torch.device('cpu')
print(f'device: {device}')
print(torch.cuda.get_device_name(0))

device: cuda:0
NVIDIA GeForce RTX 3060

## Data Exploration

The CSV file contained the house prices, the type of house asset (such as Condominium, Bungalow, etc.)

In [3]:
df = pd.read_csv("data_kaggle.csv")
print(len(df))

53883

In [4]:
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished

## Data Cleaning (a.k.a Pre-processing)
We noticed that there are some rows are "NaN", which containing meaningless values.
Before make our hands wet, these values must be replace by mean either its mode or mean
corresponding to its location.

In [5]:
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.utf8')

non_decimal = re.compile(r'[^\dx]+')

df['Price'] = df['Price'].apply(lambda x: non_decimal.sub('', str(x)))
df['Price'] = df['Price'].apply(lambda x: int(x) / 1000000 if x != '' else np.nan)

In [6]:
pattern = re.compile(r"[A-Za-z] : (.,?[\d.]+)[xX~]?(\d+)? sq. ft.")

def check_none(val):
    if not (val is None):
        return locale.atof(str(val))
    else:
        return 1

def format_size_col(x: str):
    m = re.search(pattern, str(x))
    if m:
        result = locale.atof(m.groups()[0]) * check_none(m.groups()[1])
        return result / 1000
    else:
        return float('nan')

df['Size'] = df['Size'].apply(lambda x: format_size_col(x))
# df['Size'] = df['Size'].apply(lambda x: np.sqrt(int(x)) if type(x) != str else float('nan'))

In [7]:
def format_room_col(x):
    return eval(str(x) if type(x) == str and x != 'Studio' else 'float("nan")')

df['Rooms'] = df['Rooms'].apply(lambda x: format_room_col(x))

In [8]:
furnishing_dict = {
    'Unfurnished': 0,
    'Partly Furnished': 1,
    'Fully Furnished': 2,
}

df['Furnishing'] = df['Furnishing'].apply(lambda x: int(furnishing_dict[x] if str(x) in furnishing_dict.keys() else 0))

In [9]:
df['Location'] = df['Location'].apply(lambda x: x.removesuffix(', Kuala Lumpur'))

In [10]:
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,KLCC,1.25,3.0,3.0,2.0,Serviced Residence,1.335,2
1,Damansara Heights,6.80,6.0,7.0,NaN,Bungalow,6.900,1
2,Dutamas,1.03,3.0,4.0,2.0,Condominium (Corner),1.875,1
3,Cheras,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Bukit Jalil,0.90,5.0,3.0,2.0,Condominium (Corner),1.513,1

### Handling missing values

When dealing with missing data, data scientists use two common methods to solve this 
problem: imputations, or just removing the row that contains missing value.

In this project, we will just drop the missing rows.

In [11]:
df = df.dropna().reset_index(drop=True)

In [12]:
df

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,KLCC,1.250,3.0,3.0,2.0,Serviced Residence,1.335,2
1,Dutamas,1.030,3.0,4.0,2.0,Condominium (Corner),1.875,1
2,Bukit Jalil,0.900,5.0,3.0,2.0,Condominium (Corner),1.513,1
3,Taman Tun Dr Ismail,5.350,6.0,5.0,4.0,Bungalow,7.200,1
4,Taman Tun Dr Ismail,2.600,5.0,4.0,4.0,Semi-detached House,3.600,1
...,...,...,...,...,...,...,...,...
34424,Kuchai Lama,0.585,4.0,3.0,2.0,Condominium,1.313,0
34425,KL Sentral,1.400,4.0,3.0,2.0,Condominium (Corner),1.544,2
34426,KL Eco City,0.880,1.0,1.0,1.0,Condominium (Corner),0.650,1
34427,Sri Hartamas,2.700,6.0,6.0,3.0,Condominium (Corner),3.973,1
34428,Setapak,0.540,4.0,2.0,3.0,Condominium (Intermediate),1.313,1

In [13]:
df[['Rooms', 'Bathrooms', 'Car Parks']] = df[['Rooms', 'Bathrooms', 'Car Parks']].astype('float').astype('int')
#df['Location'] = df['Location'].astype('category')

In [14]:
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,KLCC,1.25,3,3,2,Serviced Residence,1.335,2
1,Dutamas,1.03,3,4,2,Condominium (Corner),1.875,1
2,Bukit Jalil,0.90,5,3,2,Condominium (Corner),1.513,1
3,Taman Tun Dr Ismail,5.35,6,5,4,Bungalow,7.200,1
4,Taman Tun Dr Ismail,2.60,5,4,4,Semi-detached House,3.600,1

In [15]:
from sklearn.preprocessing import LabelEncoder

df['Location'] = LabelEncoder().fit_transform(df['Location'])
df

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,40,1.250,3,3,2,Serviced Residence,1.335,2
1,26,1.030,3,4,2,Condominium (Corner),1.875,1
2,11,0.900,5,3,2,Condominium (Corner),1.513,1
3,76,5.350,6,5,4,Bungalow,7.200,1
4,76,2.600,5,4,4,Semi-detached House,3.600,1
...,...,...,...,...,...,...,...,...
34424,46,0.585,4,3,2,Condominium,1.313,0
34425,39,1.400,4,3,2,Condominium (Corner),1.544,2
34426,38,0.880,1,1,1,Condominium (Corner),0.650,1
34427,66,2.700,6,6,3,Condominium (Corner),3.973,1
34428,63,0.540,4,2,3,Condominium (Intermediate),1.313,1

## Building Machine Learning Model

In [16]:
cat_feat = ["Location", "Rooms", "Bathrooms", "Car Parks", "Furnishing"]
out_feat = "Price"

In [17]:
cat = torch.tensor(df[cat_feat].to_numpy(), dtype=torch.int64).to(device)
cat

tensor([[40,  3,  3,  2,  2],
        [26,  3,  4,  2,  1],
        [11,  5,  3,  2,  1],
        ...,
        [38,  1,  1,  1,  1],
        [66,  6,  6,  3,  1],
        [63,  4,  2,  3,  1]], device='cuda:0')

In [18]:
df[cat_feat].to_numpy()

array([[40,  3,  3,  2,  2],
       [26,  3,  4,  2,  1],
       [11,  5,  3,  2,  1],
       ...,
       [38,  1,  1,  1,  1],
       [66,  6,  6,  3,  1],
       [63,  4,  2,  3,  1]])

In [19]:
# continuous features
cont_feat = "Size"
cont = torch.tensor(df[cont_feat].to_numpy(), dtype=torch.float32).reshape(-1, 1).to(device)
cont

tensor([[1.3350],
        [1.8750],
        [1.5130],
        ...,
        [0.6500],
        [3.9730],
        [1.3130]], device='cuda:0')

In [20]:
y = torch.tensor(df["Price"].to_numpy(), dtype=torch.float32).reshape(-1, 1).to(device)
y

tensor([[1.2500],
        [1.0300],
        [0.9000],
        ...,
        [0.8800],
        [2.7000],
        [0.5400]], device='cuda:0')

In [21]:
cat_dims = [len(df[col].unique()) for col in cat_feat]
cat_dims

[82, 17, 17, 21, 3]

In [22]:
embedding_dims = [(x, min(50, (x + 1) // 2)) for x in cat_dims]
embedding_dims

[(82, 41), (17, 9), (17, 9), (21, 11), (3, 2)]

In [23]:
class SparseTabularNN(nn.Module):
    def __init__(self, embedding_dim, n_cont, out_sz, layers, dropout_rate=0.5) -> None:
        super().__init__()
        self.embeds = nn.ModuleList([
            nn.Embedding(inp, out) for inp, out in embedding_dim
        ])
        self.emb_drop = nn.Dropout(dropout_rate)
        self.bn_cont = nn.BatchNorm1d(n_cont)

        layer_list = []
        n_emb = sum((out for _, out in embedding_dim))
        n_in = n_emb + n_cont

        for i in layers:
            layer_list.append(nn.Linear(n_in, i))
            layer_list.append(nn.ReLU(inplace=True))
            layer_list.append(nn.BatchNorm1d(i))
            layer_list.append(nn.Dropout(dropout_rate))
            n_in = i
        
        layer_list.append(nn.Linear(layers[-1], out_sz))
        
        self.layers = nn.Sequential(*layer_list)
        
    def forward(self, x_cat, x_cont):
        embeddings = [e(x_cat[:,i]) for i, e in enumerate(self.embeds)]
        x = torch.cat(embeddings, 1)
        x = self.emb_drop(x)

        x2 = self.bn_cont(x_cont)
        x = torch.cat([x, x2], 1)
        x = self.layers(x)

        return x

In [24]:
model = SparseTabularNN(embedding_dims, 1, 1, [100, 50], dropout_rate=0.40).to(device)

In [25]:
model.eval()

SparseTabularNN(
  (embeds): ModuleList(
    (0): Embedding(82, 41)
    (1-2): 2 x Embedding(17, 9)
    (3): Embedding(21, 11)
    (4): Embedding(3, 2)
  )
  (emb_drop): Dropout(p=0.4, inplace=False)
  (bn_cont): BatchNorm1d(1, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=73, out_features=100, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.4, inplace=False)
    (4): Linear(in_features=100, out_features=50, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.4, inplace=False)
    (8): Linear(in_features=50, out_features=1, bias=True)
  )
)

In [26]:
loss_fn = nn.MSELoss()
optimizer = Adam(model.parameters(), lr=0.01)

In [27]:
batch_size=1200
test_size=int(batch_size*0.15)
train_categorical=cat[:batch_size-test_size]
test_categorical=cat[batch_size-test_size:batch_size]
train_cont=cont[:batch_size-test_size]
test_cont=cont[batch_size-test_size:batch_size]
y_train=y[:batch_size-test_size]
y_test=y[batch_size-test_size:batch_size]

In [28]:
len(train_categorical),len(test_categorical),len(train_cont),len(test_cont),len(y_train),len(y_test)

(1020, 180, 1020, 180, 1020, 180)

In [29]:
sum((out for _, out in embedding_dims)) + train_cont

tensor([[73.3350],
        [73.8750],
        [73.5130],
        ...,
        [73.1310],
        [72.6100],
        [73.3130]], device='cuda:0')

In [30]:
epochs=5000
final_losses=[]
for i in range(epochs):
    i=i+1
    y_pred=model(train_categorical,train_cont)
    loss=torch.sqrt(loss_fn(y_pred,y_train)) ### RMSE
    final_losses.append(loss)
    if i%10==1:
        print("Epoch number: {} and the loss : {}".format(i,loss.item()))
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

Epoch number: 1 and the loss : 3.282428741455078
Epoch number: 11 and the loss : 1.0930763483047485
Epoch number: 21 and the loss : 0.8979418277740479
Epoch number: 31 and the loss : 0.7867453694343567
Epoch number: 41 and the loss : 0.6969838738441467
Epoch number: 51 and the loss : 0.623735249042511
Epoch number: 61 and the loss : 0.5926303863525391
Epoch number: 71 and the loss : 0.575797438621521
Epoch number: 81 and the loss : 0.4997078478336334
Epoch number: 91 and the loss : 0.47475409507751465
Epoch number: 101 and the loss : 0.44682377576828003
Epoch number: 111 and the loss : 0.42516157031059265
Epoch number: 121 and the loss : 0.393798291683197
Epoch number: 131 and the loss : 0.413663387298584
Epoch number: 141 and the loss : 0.4030497372150421
Epoch number: 151 and the loss : 0.360846608877182
Epoch number: 161 and the loss : 0.3553929328918457
Epoch number: 171 and the loss : 0.3677038550376892
Epoch number: 181 and the loss : 0.3721289336681366
Epoch number: 191 and the loss : 0.35266855359077454
Epoch number: 201 and the loss : 0.3714064955711365
Epoch number: 211 and the loss : 0.37534603476524353
Epoch number: 221 and the loss : 0.35196375846862793
Epoch number: 231 and the loss : 0.3730738162994385
Epoch number: 241 and the loss : 0.3545399308204651
Epoch number: 251 and the loss : 0.33807727694511414
Epoch number: 261 and the loss : 0.3374103307723999
Epoch number: 271 and the loss : 0.3338264524936676
Epoch number: 281 and the loss : 0.3281909227371216
Epoch number: 291 and the loss : 0.32514455914497375
Epoch number: 301 and the loss : 0.33208373188972473
Epoch number: 311 and the loss : 0.3221707344055176
Epoch number: 321 and the loss : 0.31778064370155334
Epoch number: 331 and the loss : 0.32227465510368347
Epoch number: 341 and the loss : 0.3515450656414032
Epoch number: 351 and the loss : 0.33562183380126953
Epoch number: 361 and the loss : 0.31553915143013
Epoch number: 371 and the loss : 0.31863123178482056
Epoch number: 381 and the loss : 0.30550822615623474
Epoch number: 391 and the loss : 0.30566442012786865
Epoch number: 401 and the loss : 0.3022005259990692
Epoch number: 411 and the loss : 0.29475662112236023
Epoch number: 421 and the loss : 0.3470675051212311
Epoch number: 431 and the loss : 0.3389665186405182
Epoch number: 441 and the loss : 0.34131574630737305
Epoch number: 451 and the loss : 0.28668853640556335
Epoch number: 461 and the loss : 0.2826851010322571
Epoch number: 471 and the loss : 0.30933570861816406
Epoch number: 481 and the loss : 0.2791890501976013
Epoch number: 491 and the loss : 0.296937495470047
Epoch number: 501 and the loss : 0.2726263701915741
Epoch number: 511 and the loss : 0.2865651249885559
Epoch number: 521 and the loss : 0.27399373054504395
Epoch number: 531 and the loss : 0.27688542008399963
Epoch number: 541 and the loss : 0.27568480372428894
Epoch number: 551 and the loss : 0.2677689492702484
Epoch number: 561 and the loss : 0.2757985293865204
Epoch number: 571 and the loss : 0.28514915704727173
Epoch number: 581 and the loss : 0.25874757766723633
Epoch number: 591 and the loss : 0.26677364110946655
Epoch number: 601 and the loss : 0.26490330696105957
Epoch number: 611 and the loss : 0.2765327990055084
Epoch number: 621 and the loss : 0.26774096488952637
Epoch number: 631 and the loss : 0.2600739896297455
Epoch number: 641 and the loss : 0.2623269259929657
Epoch number: 651 and the loss : 0.27570441365242004
Epoch number: 661 and the loss : 0.2722202241420746
Epoch number: 671 and the loss : 0.27409622073173523
Epoch number: 681 and the loss : 0.2759992778301239
Epoch number: 691 and the loss : 0.25434958934783936
Epoch number: 701 and the loss : 0.2705586850643158
Epoch number: 711 and the loss : 0.2643033266067505
Epoch number: 721 and the loss : 0.2568317949771881
Epoch number: 731 and the loss : 0.23658421635627747
Epoch number: 741 and the loss : 0.23705144226551056
Epoch number: 751 and the loss : 0.23445019125938416
Epoch number: 761 and the loss : 0.2623056173324585
Epoch number: 771 and the loss : 0.27228474617004395
Epoch number: 781 and the loss : 0.28343257308006287
Epoch number: 791 and the loss : 0.2538002133369446
Epoch number: 801 and the loss : 0.258230060338974
Epoch number: 811 and the loss : 0.2516159415245056
Epoch number: 821 and the loss : 0.24525631964206696
Epoch number: 831 and the loss : 0.2421664446592331
Epoch number: 841 and the loss : 0.25054460763931274
Epoch number: 851 and the loss : 0.24502171576023102
Epoch number: 861 and the loss : 0.2429930716753006
Epoch number: 871 and the loss : 0.24247737228870392
Epoch number: 881 and the loss : 0.24152056872844696
Epoch number: 891 and the loss : 0.24201567471027374
Epoch number: 901 and the loss : 0.24104900658130646
Epoch number: 911 and the loss : 0.2445223331451416
Epoch number: 921 and the loss : 0.24725842475891113
Epoch number: 931 and the loss : 0.24645256996154785
Epoch number: 941 and the loss : 0.24348972737789154
Epoch number: 951 and the loss : 0.24553166329860687
Epoch number: 961 and the loss : 0.24013812839984894
Epoch number: 971 and the loss : 0.24279814958572388
Epoch number: 981 and the loss : 0.2392355501651764
Epoch number: 991 and the loss : 0.24425503611564636
Epoch number: 1001 and the loss : 0.24358081817626953
Epoch number: 1011 and the loss : 0.24393171072006226
Epoch number: 1021 and the loss : 0.24037189781665802
Epoch number: 1031 and the loss : 0.23583590984344482
Epoch number: 1041 and the loss : 0.2772385776042938
Epoch number: 1051 and the loss : 0.2605770230293274
Epoch number: 1061 and the loss : 0.24553406238555908
Epoch number: 1071 and the loss : 0.22911250591278076
Epoch number: 1081 and the loss : 0.2640247046947479
Epoch number: 1091 and the loss : 0.24025794863700867
Epoch number: 1101 and the loss : 0.23224283754825592
Epoch number: 1111 and the loss : 0.23054401576519012
Epoch number: 1121 and the loss : 0.24127818644046783
Epoch number: 1131 and the loss : 0.24121274054050446
Epoch number: 1141 and the loss : 0.2331383228302002
Epoch number: 1151 and the loss : 0.2298831194639206
Epoch number: 1161 and the loss : 0.24463500082492828
Epoch number: 1171 and the loss : 0.23184792697429657
Epoch number: 1181 and the loss : 0.24783164262771606
Epoch number: 1191 and the loss : 0.23515325784683228
Epoch number: 1201 and the loss : 0.23121050000190735
Epoch number: 1211 and the loss : 0.23120690882205963
Epoch number: 1221 and the loss : 0.23140649497509003
Epoch number: 1231 and the loss : 0.24204877018928528
Epoch number: 1241 and the loss : 0.23891131579875946
Epoch number: 1251 and the loss : 0.22652243077754974
Epoch number: 1261 and the loss : 0.22863571345806122
Epoch number: 1271 and the loss : 0.22971591353416443
Epoch number: 1281 and the loss : 0.24514730274677277
Epoch number: 1291 and the loss : 0.23793958127498627
Epoch number: 1301 and the loss : 0.24029552936553955
Epoch number: 1311 and the loss : 0.2266407459974289
Epoch number: 1321 and the loss : 0.2394552081823349
Epoch number: 1331 and the loss : 0.23224540054798126
Epoch number: 1341 and the loss : 0.22792044281959534
Epoch number: 1351 and the loss : 0.23196962475776672
Epoch number: 1361 and the loss : 0.23509874939918518
Epoch number: 1371 and the loss : 0.23050659894943237
Epoch number: 1381 and the loss : 0.2272307276725769
Epoch number: 1391 and the loss : 0.23320844769477844
Epoch number: 1401 and the loss : 0.25274530053138733
Epoch number: 1411 and the loss : 0.23619860410690308
Epoch number: 1421 and the loss : 0.23167794942855835
Epoch number: 1431 and the loss : 0.229645773768425
Epoch number: 1441 and the loss : 0.23523679375648499
Epoch number: 1451 and the loss : 0.23806993663311005
Epoch number: 1461 and the loss : 0.22687003016471863
Epoch number: 1471 and the loss : 0.2790365517139435
Epoch number: 1481 and the loss : 0.23465783894062042
Epoch number: 1491 and the loss : 0.232436865568161
Epoch number: 1501 and the loss : 0.22507727146148682
Epoch number: 1511 and the loss : 0.22412388026714325
Epoch number: 1521 and the loss : 0.24000431597232819
Epoch number: 1531 and the loss : 0.2233116179704666
Epoch number: 1541 and the loss : 0.2269498109817505
Epoch number: 1551 and the loss : 0.22252759337425232
Epoch number: 1561 and the loss : 0.26184943318367004
Epoch number: 1571 and the loss : 0.25564366579055786
Epoch number: 1581 and the loss : 0.2279491126537323
Epoch number: 1591 and the loss : 0.22961625456809998
Epoch number: 1601 and the loss : 0.2226245105266571
Epoch number: 1611 and the loss : 0.2258586883544922
Epoch number: 1621 and the loss : 0.2236151248216629
Epoch number: 1631 and the loss : 0.22642678022384644
Epoch number: 1641 and the loss : 0.22954770922660828
Epoch number: 1651 and the loss : 0.22425411641597748
Epoch number: 1661 and the loss : 0.2245711386203766
Epoch number: 1671 and the loss : 0.229233980178833
Epoch number: 1681 and the loss : 0.22200587391853333
Epoch number: 1691 and the loss : 0.21185532212257385
Epoch number: 1701 and the loss : 0.22282220423221588
Epoch number: 1711 and the loss : 0.21739308536052704
Epoch number: 1721 and the loss : 0.23090270161628723
Epoch number: 1731 and the loss : 0.21058179438114166
Epoch number: 1741 and the loss : 0.20696058869361877
Epoch number: 1751 and the loss : 0.23572920262813568
Epoch number: 1761 and the loss : 0.22339928150177002
Epoch number: 1771 and the loss : 0.22513911128044128
Epoch number: 1781 and the loss : 0.22939060628414154
Epoch number: 1791 and the loss : 0.2215215414762497
Epoch number: 1801 and the loss : 0.2189241498708725
Epoch number: 1811 and the loss : 0.21754106879234314
Epoch number: 1821 and the loss : 0.21731436252593994
Epoch number: 1831 and the loss : 0.22159339487552643
Epoch number: 1841 and the loss : 0.21777473390102386
Epoch number: 1851 and the loss : 0.2456986904144287
Epoch number: 1861 and the loss : 0.2389005720615387
Epoch number: 1871 and the loss : 0.23281268775463104
Epoch number: 1881 and the loss : 0.22667968273162842
Epoch number: 1891 and the loss : 0.22256337106227875
Epoch number: 1901 and the loss : 0.22552572190761566
Epoch number: 1911 and the loss : 0.22511310875415802
Epoch number: 1921 and the loss : 0.22780343890190125
Epoch number: 1931 and the loss : 0.22320477664470673
Epoch number: 1941 and the loss : 0.21790440380573273
Epoch number: 1951 and the loss : 0.23455169796943665
Epoch number: 1961 and the loss : 0.21535399556159973
Epoch number: 1971 and the loss : 0.2263883352279663
Epoch number: 1981 and the loss : 0.2179480791091919
Epoch number: 1991 and the loss : 0.21849021315574646
Epoch number: 2001 and the loss : 0.2164575457572937
Epoch number: 2011 and the loss : 0.21718624234199524
Epoch number: 2021 and the loss : 0.22083359956741333
Epoch number: 2031 and the loss : 0.22299443185329437
Epoch number: 2041 and the loss : 0.22580809891223907
Epoch number: 2051 and the loss : 0.21645556390285492
Epoch number: 2061 and the loss : 0.21518997848033905
Epoch number: 2071 and the loss : 0.22160744667053223
Epoch number: 2081 and the loss : 0.2193720042705536
Epoch number: 2091 and the loss : 0.21673761308193207
Epoch number: 2101 and the loss : 0.21899254620075226
Epoch number: 2111 and the loss : 0.22589556872844696
Epoch number: 2121 and the loss : 0.2153870016336441
Epoch number: 2131 and the loss : 0.21946348249912262
Epoch number: 2141 and the loss : 0.22325477004051208
Epoch number: 2151 and the loss : 0.2184155285358429
Epoch number: 2161 and the loss : 0.2191089242696762
Epoch number: 2171 and the loss : 0.21521802246570587
Epoch number: 2181 and the loss : 0.21377024054527283
Epoch number: 2191 and the loss : 0.22488802671432495
Epoch number: 2201 and the loss : 0.22027315199375153
Epoch number: 2211 and the loss : 0.21587929129600525
Epoch number: 2221 and the loss : 0.21909771859645844
Epoch number: 2231 and the loss : 0.21347476541996002
Epoch number: 2241 and the loss : 0.21420031785964966
Epoch number: 2251 and the loss : 0.22527006268501282
Epoch number: 2261 and the loss : 0.21468234062194824
Epoch number: 2271 and the loss : 0.21983495354652405
Epoch number: 2281 and the loss : 0.2153708040714264
Epoch number: 2291 and the loss : 0.22386516630649567
Epoch number: 2301 and the loss : 0.2253541499376297
Epoch number: 2311 and the loss : 0.21383130550384521
Epoch number: 2321 and the loss : 0.21402902901172638
Epoch number: 2331 and the loss : 0.21113887429237366
Epoch number: 2341 and the loss : 0.21471649408340454
Epoch number: 2351 and the loss : 0.21251074969768524
Epoch number: 2361 and the loss : 0.21725070476531982
Epoch number: 2371 and the loss : 0.2158108651638031
Epoch number: 2381 and the loss : 0.2159275859594345
Epoch number: 2391 and the loss : 0.2127181440591812
Epoch number: 2401 and the loss : 0.2123304009437561
Epoch number: 2411 and the loss : 0.2607991099357605
Epoch number: 2421 and the loss : 0.23267130553722382
Epoch number: 2431 and the loss : 0.22159019112586975
Epoch number: 2441 and the loss : 0.22376862168312073
Epoch number: 2451 and the loss : 0.2188701629638672
Epoch number: 2461 and the loss : 0.21269962191581726
Epoch number: 2471 and the loss : 0.2338733971118927
Epoch number: 2481 and the loss : 0.21283185482025146
Epoch number: 2491 and the loss : 0.21652598679065704
Epoch number: 2501 and the loss : 0.22665730118751526
Epoch number: 2511 and the loss : 0.2197030931711197
Epoch number: 2521 and the loss : 0.22005921602249146
Epoch number: 2531 and the loss : 0.21648943424224854
Epoch number: 2541 and the loss : 0.21261657774448395
Epoch number: 2551 and the loss : 0.2146652191877365
Epoch number: 2561 and the loss : 0.21234281361103058
Epoch number: 2571 and the loss : 0.2155005782842636
Epoch number: 2581 and the loss : 0.2237827330827713
Epoch number: 2591 and the loss : 0.2173495590686798
Epoch number: 2601 and the loss : 0.21886774897575378
Epoch number: 2611 and the loss : 0.2120799869298935
Epoch number: 2621 and the loss : 0.22740449011325836
Epoch number: 2631 and the loss : 0.2116711139678955
Epoch number: 2641 and the loss : 0.22208571434020996
Epoch number: 2651 and the loss : 0.2136501967906952
Epoch number: 2661 and the loss : 0.21079890429973602
Epoch number: 2671 and the loss : 0.2103031724691391
Epoch number: 2681 and the loss : 0.21030791103839874
Epoch number: 2691 and the loss : 0.23141905665397644
Epoch number: 2701 and the loss : 0.21979787945747375
Epoch number: 2711 and the loss : 0.21228905022144318
Epoch number: 2721 and the loss : 0.20950308442115784
Epoch number: 2731 and the loss : 0.2216787040233612
Epoch number: 2741 and the loss : 0.22015385329723358
Epoch number: 2751 and the loss : 0.21592961251735687
Epoch number: 2761 and the loss : 0.21319083869457245
Epoch number: 2771 and the loss : 0.21113987267017365
Epoch number: 2781 and the loss : 0.21231290698051453
Epoch number: 2791 and the loss : 0.2101605385541916
Epoch number: 2801 and the loss : 0.20873315632343292
Epoch number: 2811 and the loss : 0.20992034673690796
Epoch number: 2821 and the loss : 0.20671021938323975
Epoch number: 2831 and the loss : 0.21225877106189728
Epoch number: 2841 and the loss : 0.22494827210903168
Epoch number: 2851 and the loss : 0.22451648116111755
Epoch number: 2861 and the loss : 0.21786996722221375
Epoch number: 2871 and the loss : 0.20632460713386536
Epoch number: 2881 and the loss : 0.20842331647872925
Epoch number: 2891 and the loss : 0.21316316723823547
Epoch number: 2901 and the loss : 0.2122998833656311
Epoch number: 2911 and the loss : 0.21140344440937042
Epoch number: 2921 and the loss : 0.20720094442367554
Epoch number: 2931 and the loss : 0.21324829757213593
Epoch number: 2941 and the loss : 0.21682506799697876
Epoch number: 2951 and the loss : 0.20912903547286987
Epoch number: 2961 and the loss : 0.20892119407653809
Epoch number: 2971 and the loss : 0.2092723548412323
Epoch number: 2981 and the loss : 0.21292883157730103
Epoch number: 2991 and the loss : 0.20712228119373322
Epoch number: 3001 and the loss : 0.20605531334877014
Epoch number: 3011 and the loss : 0.20480702817440033
Epoch number: 3021 and the loss : 0.20489054918289185
Epoch number: 3031 and the loss : 0.20455226302146912
Epoch number: 3041 and the loss : 0.20394229888916016
Epoch number: 3051 and the loss : 0.21749284863471985
Epoch number: 3061 and the loss : 0.21426187455654144
Epoch number: 3071 and the loss : 0.2130822390317917
Epoch number: 3081 and the loss : 0.21870096027851105
Epoch number: 3091 and the loss : 0.21845388412475586
Epoch number: 3101 and the loss : 0.21889306604862213
Epoch number: 3111 and the loss : 0.22266460955142975
Epoch number: 3121 and the loss : 0.2202068716287613
Epoch number: 3131 and the loss : 0.22226952016353607
Epoch number: 3141 and the loss : 0.20898571610450745
Epoch number: 3151 and the loss : 0.22477369010448456
Epoch number: 3161 and the loss : 0.2128562480211258
Epoch number: 3171 and the loss : 0.21469241380691528
Epoch number: 3181 and the loss : 0.2083410620689392
Epoch number: 3191 and the loss : 0.21213100850582123
Epoch number: 3201 and the loss : 0.2028854638338089
Epoch number: 3211 and the loss : 0.19928127527236938
Epoch number: 3221 and the loss : 0.20474104583263397
Epoch number: 3231 and the loss : 0.2303144335746765
Epoch number: 3241 and the loss : 0.20243921875953674
Epoch number: 3251 and the loss : 0.211874321103096
Epoch number: 3261 and the loss : 0.20579348504543304
Epoch number: 3271 and the loss : 0.1985812485218048
Epoch number: 3281 and the loss : 0.1999930888414383
Epoch number: 3291 and the loss : 0.20769520103931427
Epoch number: 3301 and the loss : 0.20032311975955963
Epoch number: 3311 and the loss : 0.20372828841209412
Epoch number: 3321 and the loss : 0.20029263198375702
Epoch number: 3331 and the loss : 0.21040838956832886
Epoch number: 3341 and the loss : 0.1994980126619339
Epoch number: 3351 and the loss : 0.20680071413516998
Epoch number: 3361 and the loss : 0.20258352160453796
Epoch number: 3371 and the loss : 0.2028941661119461
Epoch number: 3381 and the loss : 0.2081182897090912
Epoch number: 3391 and the loss : 0.2001039683818817
Epoch number: 3401 and the loss : 0.19854295253753662
Epoch number: 3411 and the loss : 0.20121781527996063
Epoch number: 3421 and the loss : 0.20004300773143768
Epoch number: 3431 and the loss : 0.2163054198026657
Epoch number: 3441 and the loss : 0.1997692883014679
Epoch number: 3451 and the loss : 0.19658561050891876
Epoch number: 3461 and the loss : 0.20917680859565735
Epoch number: 3471 and the loss : 0.20070047676563263
Epoch number: 3481 and the loss : 0.20465537905693054
Epoch number: 3491 and the loss : 0.1963346302509308
Epoch number: 3501 and the loss : 0.20693762600421906
Epoch number: 3511 and the loss : 0.19664575159549713
Epoch number: 3521 and the loss : 0.20253761112689972
Epoch number: 3531 and the loss : 0.1986735612154007
Epoch number: 3541 and the loss : 0.19486014544963837
Epoch number: 3551 and the loss : 0.21104922890663147
Epoch number: 3561 and the loss : 0.2063092291355133
Epoch number: 3571 and the loss : 0.19216303527355194
Epoch number: 3581 and the loss : 0.2128135710954666
Epoch number: 3591 and the loss : 0.2109542340040207
Epoch number: 3601 and the loss : 0.2093011438846588
Epoch number: 3611 and the loss : 0.20631474256515503
Epoch number: 3621 and the loss : 0.2097593992948532
Epoch number: 3631 and the loss : 0.20267236232757568
Epoch number: 3641 and the loss : 0.19812557101249695
Epoch number: 3651 and the loss : 0.20226739346981049
Epoch number: 3661 and the loss : 0.20891183614730835
Epoch number: 3671 and the loss : 0.21241675317287445
Epoch number: 3681 and the loss : 0.1988343894481659
Epoch number: 3691 and the loss : 0.19766896963119507
Epoch number: 3701 and the loss : 0.20337039232254028
Epoch number: 3711 and the loss : 0.21369940042495728
Epoch number: 3721 and the loss : 0.19967739284038544
Epoch number: 3731 and the loss : 0.19724281132221222
Epoch number: 3741 and the loss : 0.19941602647304535